.custom-bg-color {
  background-color: #e6e8e6;
  color: black;
}

#SkiJumpingLAB {
    font-size: 24px;
    color: #black;
}

a.no-link-style{
    color: black;
    text-decoration: none;
}

footer {
  background-color: #cbd0cb;
}
