.custom-bg-color {
  background-color: #e6e8e6;
  color: black;
}

#LogoNav {
    background-color: #cbd0cb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#SkiJumpingLAB {
    font-size: 24px;
    color: #black;
}

a.no-link-style {
    color: black;
    text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
  margin-bottom: -150px;
}

footer {
  flex-shrink: 0;
  height: 150px;
}



.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.custom-table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
              0 -2px 4px rgba(0, 0, 0, 0.1),
              2px 0 4px rgba(0, 0, 0, 0.1),
              -2px 0 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #cbd0cb;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

