.custom-bg-color {
  background-color: #e6e8e6;
  color: black;
}

#LogoNav {
    background-color: #cbd0cb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#SkiJumpingLAB {
    font-size: 24px;
    color: #black;
}

a.no-link-style{
    color: black;
    text-decoration: none;
}


.custom-table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
              0 -2px 4px rgba(0, 0, 0, 0.1),
              2px 0 4px rgba(0, 0, 0, 0.1),
              -2px 0 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #cbd0cb;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

