<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- link to CSS Bootstrapa -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    {% load static %}
    <!-- link to css file CSS "custom.css" -->
    <link rel="stylesheet" type="text/css" href="{% static 'ski/main.css' %}">

    <!-- Tittle -->
    {% if title %}
        <title>Ski Jumping LAB - {{ title }}</title>
    {% else %}
        <title>Ski Jumping LAB</title>
    {% endif %}

</head>
<body>
    <!-- Navigation Bar -->
    <div class="d-flex justify-content-center mt-4 mb-1">
      <div class="d-flex flex-column justify-content-center">
        <a class="container" href="{% url 'home' %}">
          <img src="{% static 'ski/logo.png' %}" title="jump icons" width="50" height="50" class="d-inline-block">
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column justify-content-center">
        <a class="container align-items-center text-centre no-link-style" href="{% url 'home' %}">
          <span id="SkiJumpingLAB">Ski Jumping LAB</span>
        </a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                  <i class="navbar-toggler-icon"></i>
              </span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                            <a class="nav-link me-auto" href="{% url 'live' %}">LIVE</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'fantasy-league' %}">Fantasy League</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                      </li>
                </ul>
                <a class="nav-link m-auto">
                    <button type="button" class="btn btn-outline-dark">Login</button>
                </a>

          </div>
    </nav>


    <div class="container mt-3">
        {% block content %} {% endblock %}
    </div>


<!-- Bootstrap scripts -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

</body>
</html>