{% extends 'ski/base.html' %}
{% block content %}


<div class="container-fluid h-100 py-2 shadow">
  <div class="row h-100 justify-content-center align-items-center w-100">
    <div class="text-center">
        <h1>Ski Jumping Fantasy League</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="margin: 0;">
      <h2 class="">Get ready for the ultimate Ski Jumping Fantasy League!</h2>
      <p class="lead mt-4">Join our fantasy league and experience the thrill of ski jumping like never before.</p>
      <h4>COMING SOON!</h4>
      <a href="#" class="btn btn-primary mt-4 shadow">Sign up now</a>
    </div>
  </div>
</div>


{% endblock content %}