{% extends 'ski/base.html' %}
{% block content %}

<!-- Live events collapsing info -->
<div class="list-group list-group-year" style="display: block;">
    <h2 class="text-center mt-4">LIVE</h2>
    <a class="list-group-item list-group-item-action">
      <span class="link-text fw-bold fs-5 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="me-2 dot text-danger"></div>
          <p class="text-danger m-0 text-start">LIVE</p>
          <p class="text-center mx-4 my-0">Tournament Name</p>
          <div class="me-2 dot text-danger"></div>
          <p class="text-danger m-0 text-end">LIVE</p>
        </div>
      </span>
        <i class="fas fa-chevron-down ms-auto"></i>
    </a>
    <div class="collapse" id="collapseLive">
        <a href="{% url 'statistics' %}?selected_file={{ file }}" class="list-group-item list-group-item-action">
            <span class="link-text">No live event or table if event is on</span>
            <i class="fas fa-external-link-alt ms-auto"></i>
        </a>
    </div>
</div>

<!-- Upcoming events collapsing info -->
<div class="list-group list-group-year" style="display: block;">
    <h2 class="text-center mt-4">Upcoming Events</h2>
    {% for date in date_list %}
    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#collapse{{ date }}"
       aria-expanded="false" aria-controls="collapse{{ date }}">
        <span class="link-text fw-bold fs-5">
            <div class="d-flex align-items-center">
              <p class="m-0">{{ date }}</p>
            </div>
        </span>
        <i class="fas fa-chevron-down ms-auto"></i>
    </a>
    {% endfor %}
    <div class="collapse" id="collapse{{ date }}">
        <a href="{% url 'live' %}?selected_file={{ file }}" class="list-group-item list-group-item-action">
            <span class="link-text">List of events links</span>
            <i class="fas fa-external-link-alt ms-auto"></i>
        </a>
    </div>
</div>

{% endblock content %}