{% extends 'ski/base.html' %}
{% block content %}
<h1>LIVE</h1>

<!-- Trigger Buttons HTML -->
<div class="container">
    <a href="#myCollapse-1" data-bs-toggle="collapse">January 2023</a>
</div>

<!-- Collapsible Element HTML -->
<div class="collapse" id="myCollapse-1">
    <div class="card card-body">
        Info from fis-web here about coming events.
    </div>
</div>
<!-- Trigger Buttons HTML -->
<div class="container">
    <a href="#myCollapse-2" data-bs-toggle="collapse">Febuary 2023</a>
</div>

<!-- Collapsible Element HTML -->
<div class="collapse" id="myCollapse-2">
    <div class="card card-body">
        Info from fis-web here about coming events.
    </div>
</div>
<!-- Trigger Buttons HTML -->
<div class="container">
    <a href="#myCollapse-3" data-bs-toggle="collapse">January 2023</a>
</div>

<!-- Collapsible Element HTML -->
<div class="collapse" id="myCollapse-3">
    <div class="card card-body">
        Info from fis-web here about coming events.
    </div>
</div>
<!-- Trigger Buttons HTML -->
<div class="container">
    <a href="#myCollapse-4" data-bs-toggle="collapse">January 2023</a>
</div>

<!-- Collapsible Element HTML -->
<div class="collapse" id="myCollapse-4">
    <div class="card card-body">
        Info from fis-web here about coming events.
    </div>
</div>
<!-- Trigger Buttons HTML -->
<div class="container">
    <a href="#myCollapse-5" data-bs-toggle="collapse">January 2023</a>
</div>

<!-- Collapsible Element HTML -->
<div class="collapse" id="myCollapse-5">
    <div class="card card-body">
        Info from fis-web here about coming events.
    </div>
</div>

{% endblock content %}