{% extends 'ski/base.html' %}
{% block content %}

{% if live %}
<div class="list-group list-group-year" style="display: block;">
    <h2 class="mt-4 text-center">LIVE</h2>
    <a class="list-group-item list-group-item-action shadow" data-bs-toggle="collapse" href="#collapseLive"
       aria-expanded="false" aria-controls="collapseLive">
        <span class="link-text fw-bold fs-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="me-2 dot text-danger"></div>
                    <p class="text-danger m-0">LIVE</p>
                </div>
                <div class="flex-fill text-center mx-4">
                    Tournament Name
                </div>
                <div class="d-flex align-items-center">
                    <div class="me-2 dot text-danger"></div>
                    <p class="text-danger m-0">LIVE</p>
                </div>
            </div>
        </span>
        <i class="fas fa-chevron-down ms-auto"></i>
    </a>
    <div class="collapse shadow" id="collapseLive">
        <a href="{% url 'live' %}?selected_file={{ file }}" class="list-group-item list-group-item-action">
            <span class="link-text">No live event or table if event is on</span>
            <i class="fas fa-external-link-alt ms-auto"></i>
        </a>
    </div>
</div>
{% endif %}

<div class="list-group list-group-year pt-4" style="display: block;">
    <h2 class="text-center mt-4">Upcoming Events</h2>
    {% for title, events in event_info.items %}
    {% with slug=title|slugify %}
    <a class="list-group-item list-group-item-action shadow" data-bs-toggle="collapse" href="#collapse{{ slug }}"
       aria-expanded="false" aria-controls="collapse{{ slug }}">
        <span class="link-text fw-bold fs-5">
            <div class="d-flex align-items-center">
                <p class="m-0">{{ title }}</p>
            </div>
        </span>
        <i class="fas fa-chevron-down ms-auto"></i>
    </a>
    {% for event in events %}
    <div class="collapse" id="collapse{{ slug }}">
        <a href="#" class="list-group-item list-group-item-action">
            {% if event == 'No events found' %}
            <span class="link-text">{{ event }}</span>
            <i class="fas fa-external-link-alt ms-auto"></i>
            {% else %}
            {% if event.0 == 'DATE' %}
            <div class="container">
                <div class="row g-0 justify-content-center">
                    <div class="col-2">
                        <strong><span class="border p-2 d-block text-center" style="background-color: #e6e8e6;">{{ event.0 }}</span></strong>
                    </div>
                    <div class="col-2">
                        <strong><span class="border p-2 d-block text-center" style="background-color: #e6e8e6;">{{ event.1 }}</span></strong>
                    </div>
                    <div class="col-2">
                        <strong><span class="border p-2 d-block text-center" style="background-color: #e6e8e6;">{{ event.2 }}</span></strong>
                    </div>
                    <div class="col-2">
                        <strong><span class="border p-2 d-block text-center" style="background-color: #e6e8e6;">{{ event.3 }}</span></strong>
                    </div>
                    <div class="col-2">
                        <strong><span class="border p-2 d-block text-center" style="background-color: #e6e8e6;">{{ event.4 }}</span></strong>
                    </div>
                </div>
            </div>
            <i class="fas fa-external-link-alt ms-auto"></i>
            {% else %}
            <div class="container">
                <div class="row g-0 justify-content-center">
                    <div class="col-2">
                        <span class="border p-2 d-block text-center">{{ event.0 }}</span>
                    </div>
                    <div class="col-2">
                        <span class="border p-2 d-block text-center">{{ event.1 }}</span>
                    </div>
                    <div class="col-2">
                        <span class="border p-2 d-block text-center">{{ event.2 }}</span>
                    </div>
                    <div class="col-2">
                        <span class="border p-2 d-block text-center">{{ event.3 }}</span>
                    </div>
                    <div class="col-2">
                        <span class="border p-2 d-block text-center">{{ event.4 }}</span>
                    </div>
                </div>
            </div>
            <i class="fas fa-external-link-alt ms-auto"></i>
            {% endif %}
            {% endif %}
        </a>
    </div>
    {% endfor %}
    {% endwith %}
    {% endfor %}
</div>


{% endblock content %}