{% extends 'ski/base.html' %}
{% block content %}

<div class="container my-4">
    <form method="GET" action="{% url 'statistics' %}">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="season_filter">FILTER BY SEASON</label>
                    <select class="form-control" id="season_filter" name="season_filter">
                        <option value="">ALL</option>
                        {% for season in categories.season_filter %}
                        <option value="{{ season }}">{{ season }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="city_filter">FILTER BY CITY</label>
                    <select class="form-control" id="city_filter" name="city_filter">
                        <option value="">ALL</option>
                        {% for city in categories.city_filter %}
                        <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tournament_filter">FILTER BY TOURNAMENT TYPE</label>
                    <select class="form-control" id="tournament_filter" name="tournament_filter">
                        <option value="">ALL</option>
                        {% for tour in categories.tournament_filter %}
                        <option value="{{ tour }}">{{ tour }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="hill_filter">FILTER BY HILL SIZE</label>
                    <select class="form-control" id="hill_filter" name="hill_filter">
                        <option value="">ALL</option>
                        <option value="SF">Flying Hill - (Mahmut)</option>
                        <option value="LH">Large Hill</option>
                        <option value="NH">Normal Hill</option>
                        <option value="SH">Small Hill</option>
                        <option value="{{ hill }}">{{ hill }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="gender_filter">FILTER BY GENDER</label>
                    <select class="form-control" id="gender_filter" name="gender_filter">
                        <option value="">ALL</option>
                        <option value="M">Man</option>
                        <option value="W">Woman</option>
                        <option value="{{ gender }}">{{ gender }}</option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="team_filter">FILTER BY COMPETITION TYPE</label>
                    <select class="form-control" id="team_filter" name="team_filter">
                        <option value="">ALL</option>
                        {% for team in categories.team_filter %}
                        <option value="{{ team }}">{{ team }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% if filtered_csv_files %}
<div>
    <ul>
        {% for file in filtered_csv_files %}
        <li>
            <div class="container">
                <a href="{% url 'statistics' %}?selected_file={{ file }}">{{ file }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if rows %}
<div class="container" id="Stst">
    <div class="table-responsive custom-table">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th colspan="8" class="table-title text-center">
                    <h4>{{ table_title }}</h4>
                </th>
            </tr>
            <tr>
                <th>RANKING</th>
                <th>NAME</th>
                <th>NATIONALITY</th>
                <th>DISTANCE JUMP 1</th>
                <th>TOTAL POINTS JUMP 1</th>
                <th>DISTANCE JUMP 2</th>
                <th>TOTAL POINTS JUMP 1</th>
                <th>TOTAL RANKING</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.RANKING }}</td>
                <td>{{ row.NAME }}</td>
                <td>{{ row.NATIONALITY }}</td>
                <td>{{ row.DISTANCE_JUMP_1 }}</td>
                <td>{{ row.TOTAL_POINTS_JUMP_1 }}</td>
                <td>{{ row.DISTANCE_JUMP_2 }}</td>
                <td>{{ row.TOTAL_POINTS_JUMP_2 }}</td>
                <td>{{ row.TOTAL_POINTS }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock content %}