{% extends 'ski/base.html' %}
{% block content %}

<div class="row my-5">
  <div class="col-sm-4 d-flex align-items-center justify-content-center p-3 rounded shadow">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-bar-chart"></i>
      <h4 class="mt-2">Historical Rankings</h4>
      <p>If you are looking for to check old competition, or you wandering </p>
    </div>
  </div>
  <div class="col-sm-4 d-flex align-items-center justify-content-center p-3 rounded shadow">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-calendar"></i>
      <h4 class="mt-2">Statistics by period of time</h4>
    </div>
  </div>
  <div class="col-sm-4 d-flex align-items-center justify-content-center p-3 rounded shadow">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-people"></i>
      <h4 class="mt-2">Individual Jumper Statistics</h4>
    </div>
  </div>
</div>



{% endblock content %}