{% extends 'ski/base.html' %}
{% block content %}
<div class="container my-4">
    <form method="GET" action="{% url 'statistics' %}">
        <div class="row align-items-center">
            <div class="col-auto">
                <label class="me-2">Tournament List</label>
            </div>
            <div class="col-auto">
                <select name="csv_file" class="form-select">
                    <option value="">Choose Tournament</option>
                    {% for file in csv_files %}
                    <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% if rows %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>RANKING</th>
                <th>NAME</th>
                <th>NATIONALITY</th>
                <th>DISTANCE JUMP 1</th>
                <th>TOTAL POINTS JUMP 1</th>
                <th>DISTANCE JUMP 2</th>
                <th>TOTAL POINTS JUMP 1</th>
                <th>TOTAL RANKING</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.RANKING }}</td>
                <td>{{ row.NAME }}</td>
                <td>{{ row.NATIONALITY }}</td>
                <td>{{ row.DISTANCE_JUMP_1 }}</td>
                <td>{{ row.TOTAL_POINTS_JUMP_1 }}</td>
                <td>{{ row.DISTANCE_JUMP_2 }}</td>
                <td>{{ row.TOTAL_POINTS_JUMP_2 }}</td>
                <td>{{ row.TOTAL_POINTS }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock content %}